<%
title 'Gallery'
stylesheet 'gallery'
javascript 'gallery'

gallery_images=Dir[File.join(src_dir,'images','gallery','*.jpg')].map do |x|
	x.split('/').last
end
%>
<span id="image-count"><%= gallery_images.size %></span>
<div id="move-left">
	<div>Left</div>
</div>
<div id="viewing-container">
	<div class="loading">Loading...</div>
	<div id="viewing-pane">
		<%gallery_images.each do |img|%>
		<div style="background-image:url(/images/gallery/<%=img%>)"></div>
		<%end%>
	</div>
</div>
<div id="move-right">
	<div>Right</div>
</div>
<div id="details">
	<div id="attribution">Image taken by Abhishek Chaturvedi</div>
</div>