<%stylesheet 'frontpage'%>
<div class="subtitle">We are FRC Team 1389</div>
<iframe width="560" height="315" src="http://www.youtube.com/embed/NV3axO-h49U?rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen id="intro-video"></iframe>
<div id="intro-clear"></div>