<%stylesheet 'frontpage'%>
<div class="subtitle">We are FRC Team 1389</div>
<iframe id="intro-video" width="560" height="315" src="http://www.youtube.com/embed/NV3axO-h49U?rel=0&amp;modestbranding=1&amp;showinfo=0"></iframe>
<div id="intro-clear"></div>