<%stylesheet 'frontpage'%>
<%title 'The Body Electric'%>
<div class="subtitle">About Us</div>
<iframe id="intro-video" width="560" height="315" src="http://www.youtube.com/embed/NV3axO-h49U?rel=0&amp;modestbranding=1&amp;showinfo=0"></iframe>
<div id="intro-clear"></div>
<div class="about-column right">
	<div>Contact Us:</div>
	<a href="http://www.google.com/recaptcha/mailhide/d?k=01Y854cqxFSaCseq3Gea0f7g==&amp;c=gDBu7WHKk2XuM0FihQEaorwA53L33-GOTbrNcG4oOuI=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501Y854cqxFSaCseq3Gea0f7g\75\75\46c\75gDBu7WHKk2XuM0FihQEaorwA53L33-GOTbrNcG4oOuI\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...@gmail.com</a>
</div>
<div class="about-column left">
	<div>FRC Team 1389: The Body Electric</div>
	<div>Walt Whitman High School</div>
	<div>Bethesda, MD</div>
	<div><a href="/about-website.html">About this Website</a></div>
</div>